<div class="jumbotron text-center">
    <h1>NoteReg</h1>
    <p class="lead">Your next generation Note taking & following up Application. Built with Love, Nodejs & Express </p>
    <a target="_blank" class="btn btn-danger px-4" href="/" role="button">Start Free &raquo;</a>
</div>